@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
}

h1 {
  text-align: center;
  font-family: 'Lato';
  color: #80b155;
}